<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal podatkowy</title>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{fontello/user.css}" rel="stylesheet">
    <script th:src="@{JS/checkRegistrationForm.js}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="navbar-brand">
            <a th:href="@{/}"><img class="d-inline-block" width="96" th:src="@{img/orzel.svg}"  alt="">
           <h1 class="navbar-text text-white">podatki.gov.pl</h1></a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="mr-auto header-element description pl-5">
                <p class="h2 text-white text-center">Witaj na portalu podatkowym, tu rozliczysz swoje podatki</p>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="left">
                        <p class="h4 text-white pt-5 text-center">Logujesz się do Krajowego Systemu Podatkowego </p>
                        <a th:href="@{/registration}"><p class="h5 text-white text-center mt-5"><i class="icon-user-plus"></i> Uzyskaj dostęp</p></a>
                        <a href="#"><p class="h5 text-white text-center mt-3"><i class="icon-doc-text"></i>Instrukcje </p></a>
                        <a href="https://www.gov.pl/web/finanse"><img th:src="@{img/MF.svg}" class="img-fluid pt-4 text-center" style="display:block;margin:auto" alt="logo Ministerstwo finansów"></a>
            </div>
            <div class="col-md-9 fixed-posi mt-2"  id="form">
                <form class="align-top p-3" method="POST" th:action="@{/registration}" th:object="${user}" id="JsForm">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="NIP">*Podaj NIP:</label>
                        <div class="col-sm-10" id="NipError">
                            <input type="text" class="form-control"  th:field="*{NIP}">
                        </div>
                        <label class="col-sm-2 col-form-label" for="eMail">*Podaj E-Mail:</label>
                        <div class="col-sm-10 pt-1">
                            <input type="text" class="form-control"  th:field="*{eMail}">
                        </div>
                        <label class="col-sm-2 col-form-label" for="password1">*Hasło:</label>
                        <div class="col-sm-10 pt-1">
                            <input type="password" class="form-control" id="password1">
                        </div>
                        <label class="col-sm-2 col-form-label" for="password">*Powtórz Hasło:</label>
                        <div class="col-sm-10 pt-1">
                            <input type="password" class="form-control"  th:field="*{password}">
                        </div>
                        <label class="col-sm-2 col-form-label " for="companyName">Nazwa Firmy:</label>
                        <div class="col-sm-10 pt-1">
                            <input type="text" class="form-control"  th:field="*{companyName}" readonly>
                        </div>
                        <label class="col-sm-2 col-form-label" for="REGON">REGON:</label>
                        <div class="col-sm-10 pt-1">
                            <input type="text" class="form-control"  th:field="*{REGON}" readonly>
                        </div>
                        <label class="col-sm-2 col-form-label" for="address">Adres:</label>
                        <div class="col-sm-10 pt-1">
                            <input type="text" class="form-control"  th:field="*{address}" readonly>
                        </div>
                        <label class="col-sm-2 col-form-label" for="ePUAP">Potwierdź swoje dane za pomocą PZ:</label>
                        <div class="col-sm-10 mt-2 pt-1">
                            <div class="row pt-2">
                                <div class="col-2  pt-2">
                                    <input type="checkbox" class="form-control" id="PZ" value="true">
                                </div>
                                <div class="col-10 pl-0">
                                    <img th:src="@{img/PZ.jpg}" alt="Profil Zaufany">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row pl-5">
                            <div class="row">
                                <button type="button" onclick="checkForm()" class="btn btn-primary col-6 pl-2">Rejetruj</button>
                                <button type="reset" class="pl-1 ml-1 btn btn-primary col-5">Anuluj</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="h6" id="errors" style="color:red;"></p>
                    </div>
                    <div th:if="${Error}">
                        <p class="h6" th:text="${Error}"></p>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

</main>
<footer class="bg-dark">
    <div class="container foot pt-0">
        <p class="m-0 text-center text-white h-4 mt-3">Ministerstwo Finansów. Wszystkie Prawa Zastrzeżone &copy; 2021.</p>
    </div>
</footer>
        <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>